.projectBody {
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    height: 100vh;
    width: 100vw;
    background: var(--purpleOne);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectContent h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 50px;
}

.projectContent {
    height: max-content;
    width: 100%;
    border-radius: 16px;
    background: var(--whiteTwo);
    box-shadow: 0 0 15px var(--purpleTwo);
    padding: 20px;
}

.projectContent ul li {
    background: var(--grayTwo);
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    border: 1px solid var(--white);
    border-radius: 10px;
    transition: 0.2s;
    list-style: none;
}

.projectContent ul li a {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.projectContent ul li:hover {
    scale: 1.05;
    background: var(--whiteTwo);
}

.projectContent ul li a:hover {
    color: var(--gray);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
}

.button a {
    color: var(--gray);
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}

.button a:hover {
    color: var(--white);
}

.arrow {
    padding-top: 5px;
}

@media(min-width: 700px) {
    .projectContent {
        max-height: 70vh;
        max-width: 40vw;
        box-shadow: 0 0 100px var(--purpleTwo);
    }
}

@media (min-width: 1300px) {
    .projectContent {
        max-width: 25vw;
    }
}