* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --blackTwo: #ccc;

    --gray: #333333;
    --grayTwo: #7c7c7c5d;
    
    --white: #ffffff;
    --whiteTwo: #ffffff80;
    --whiteThree: #eeeded;

    --blue: #295091;
}
