* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;

    --gray: #333333;
    --grayTwo: #7c7c7c5d;
    
    --white: #ffffff;
    --whiteTwo: #ffffff80;
    
    --purpleOne: #200158;
    --purpleTwo: #b301fa;
    --purpleThree: #c77df8;
}
